body {
    font-family: "Playfair Display", serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.hero-about {
    background: linear-gradient(45deg, #1e2a47, #283b5d);
    padding: 80px 0;
    text-align: center;
    font-family: "Playfair Display", serif;
}

.hero-about h1 {
    font-size: 3rem;
    color: #fff;
    font-family: "Playfair Display", serif;
}

.hero-about p {
    font-size: 1.2rem;
    color: #ccc;
    font-family: "Playfair Display", serif;
}

.hero-about button {
    background-color: #fff;
    color: #333;
    font-size: 1.1rem;
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
    transition: background-color 0.3s ease;
    font-family: "Playfair Display", serif;
}

.hero-about button:hover {
    background-color: #2196f3;
    color: #fff;
}

.our-story {
    background-color: #f5f5f5;
    padding: 60px 0;
    color: #333;
}

.our-story h2 {
    font-size: 2.5rem;
    color: #121212;
}

.our-story p {
    font-size: 1.2rem;
    color: #666;
}

.our-story img {
    border-radius: 7px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
}

.about img {
    border-radius: 7px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
}

.our-values i {
    color: #2196f3;
}

.our-values h4 {
    color: #121212;
}

.our-values p {
    color: #666;
}

button:hover {
    background-color: #2196f3;
    color: #fff;
}

