.breadcrumb-container {
  margin-top: 20px;
}

.breadcrumb-item a {
  color: #f1efef !important;
}

.breadcrumb-item.active {
  color: #f1efef !important;
}

.breadcrumb {
  padding-left: 0;
}

/* ===================================== */

/* --- Filter Section --- */
.filter-bar {
  background-color: #222222;
  padding: 40px 20px;
  width: 100%;
  margin: 0 auto;
}

.filter-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.input-group {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
}

.form-control {
  background-color: #333333;
  color: #f0f0f0;
  border: 1px solid #444444;
  padding: 12px;
  font-size: 1rem;
  width: 100%;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control::placeholder {
  color: #a0a0a0;
  /* color: #000000; */
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.input-group-text {
  background-color: #444444;
  color: #f0f0f0;
  border: 1px solid #444444;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group-text i {
  font-size: 1rem;
}

#guest-filter {
  background-color: #333333;
  color: #f0f0f0;
  border: 1px solid #444444;
  padding: 12px;
  font-size: 1rem;
  width: 50%;
}

#clear-filters {
  background-color: #dc3545;
  border: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  padding: 12px;
  font-size: 1rem;
  width: 100%;
  border-radius: 8px;
  text-align: center;
}

#clear-filters:hover {
  background-color: #c82333;
  cursor: pointer;
}

@media (max-width: 768px) {
  .filter-bar {
    padding: 20px;
    width: 100%;
  }

  .filter-container {
    flex-direction: column;
    align-items: stretch;
  }

  .input-group {
    width: 100%;
    flex-direction: row;
  }

  .input-group-text {
    padding: 10px;
    font-size: 1rem;
  }

  .form-control {
    width: 100%;
    font-size: 1rem;
  }

  #guest-filter {
    width: 50%;
  }

  .btn {
    width: 100%;
    font-size: 1rem;
  }
}

/* ===================== */

/* --- cart --- */
.rooms-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

@media (min-width: 1440px) {
  .rooms-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .rooms-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .rooms-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .room-card {
    height: 450px;
  }

  .room-name {
    font-size: 18px;
  }

  .room-description {
    font-size: 12px;
  }

  .price-tag {
    padding: 6px 10px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .rooms-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.room-card {
  width: 100%;
  height: 550px;
  overflow: hidden;
  transition: transform 0.3s;
  font-family: "Playfair Display", serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room-card:hover {
  transform: translateY(-5px);
}

.room-img {
  position: relative;
  height: 55%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.price-tag {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: #365140;
  color: #ffffff;
  padding: 10px 14px;
  font-weight: bold;
  border-radius: 2px;
}

.room-info {
  padding: 20px;
  height: 45%;
  background: #fdfbfb;
  border: 1px solid rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room-name {
  font-size: 22px;
  font-weight: bold;
  color: #2d3e50;
  margin-bottom: 10px;
}

.room-description {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 15px;
}

.read-more {
  display: block;
  cursor: pointer;
  text-decoration: underline;
  color: #2a2828;
  font-weight: bold;
  text-align: left;
}

.read-more:hover {
  color: #365140;
}

/* ===================================== */

/* --- Featured Hotels --- */
.featured-rooms .card {
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.featured-rooms .card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}
