body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.hotel-header {
  margin-top: 20px;
  padding: 20px;
  /* background: linear-gradient(135deg, #6cbef7, #4c86d6); */
  color: white;
  border-radius: 10px;
}

.hotel-header h1 {
  font-size: 2.5rem;
}

.hotel-header img {
  max-height: 250px;
  border-radius: 10px;
}

.icon-item {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.room-card {
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  background: #fff;
}

.room-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.room-card img {
  height: 170px;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.room-card .p-3 {
  padding: 20px;
}

.room-card h5 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.room-card ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.room-card ul li {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 5px;
}

.room-card .btn {
  font-size: 0.875rem;
  padding: 8px 16px;
  border-radius: 5px;
}

/* ===================================== */
/* Filter  */
.filter-bar {
  background: #f8f9fa;
  border: 1px solid #e0e0e0;
}

.input-group-text {
  background-color: #007bff;
  color: #fff;
  border-right: 0;
}

.form-control {
  border-left: 0;
  cursor: pointer;
}

.datepicker:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn-danger {
  background: #dc3545;
  border: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-danger:hover {
  background: #c82333;
}


@media (max-width: 768px) {
  .filter-bar .row {
    flex-direction: column;
    align-items: stretch;
  }

  .filter-bar .col-md-2 {
    margin-top: 10px;
  }
  .input-group {
    flex-direction: row;
    align-items: stretch;
  }

  .input-group + .input-group {
    margin-top: 10px;
  }

  .btn {
    margin-top: 10px;
  }
}
/* ==================================== */
